/**************************************************/
/*************** animation specific ***************/
/**************************************************/

$base-size: 140px;

.progress-indicator-wrapper {
	position: relative;
	width: $base-size;
	height: $base-size;
}
.avatar.mod-call-progress {
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 1;
}
.dial-container {
	position: absolute;
	top: 0;
	bottom: 0;
	overflow: hidden;
	width: $base-size / 2;
	
	.is-pulsing & {
	    animation: pulse .4s ease-out infinite alternate;
	}
}
.wedge {
	
	height: $base-size;
	width: $base-size / 2;
	
	.mod-running & {
	    animation-play-state: running !important;
	}
}
.container1 {
	left: $base-size / 2;
	transform-origin: left center;
}
.container1 .wedge {
	animation: rotate-bg-1 9s linear both paused, bg-color 9s linear both paused;
	border-radius: 0 $base-size $base-size 0;
	left: 0;
	transform-origin: left center;
}
.container2 {
	left: 0;
	transform-origin: right center;
}
.container2 .wedge {
	animation: rotate-bg-2 9s linear both paused, bg-color 9s linear both paused;
	border-radius: $base-size 0 0 $base-size;
	transform-origin: right center;
}
/* First animation moves 180 degrees in the first 2 seconds */
@keyframes rotate-bg-1 {
	0% {
		transform: rotateZ(180deg);
	}
	50%, 100% {
		transform: rotateZ(360deg);
	}
}
/* Second animation moves 180 degrees in the last 2 seconds */
@keyframes rotate-bg-2 {
	0%, 50% {
		transform: rotateZ(180deg);
	}
	100% {
		transform: rotateZ(360deg);
	}
}

@keyframes bg-color {
    0% {
        background-color: white;
    }
    100% {
        background-color: #e82e0b;
    }
}
@keyframes pulse {
    100% {
        transform: scale(1.1);
    }
}
